# Ambientes virtuais
.venv/
venv/

# Escopo do projeto
amendoas-dreams-escopo.md

# Configurações do VS Code
.vscode/

# Lixo
AmendoasDreams.Api/bin/
AmendoasDreams.Api/obj/

# Arquivos de sistema
.DS_Store
Thumbs.db
